<div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center">Your next trip</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/card-paris.jpg');">
              <div class="card-category">Paris</div>
              <div class="card-description">
                <h2>Seb's home</h2>
                <p>Charming room with patio</p>
              </div>
              <%= image_tag "https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/seb.jpg", class: "card-user avatar avatar-large" %>
              <%= link_to " ", "#", class: "card-link" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/card-brussels.jpeg');">
              <div class="card-category">Brussels</div>
              <div class="card-description">
                <h2>Anne's home</h2>
                <p>Lovely house</p>
              </div>
              <%= image_tag "https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/anne.jpg", class: "card-user avatar avatar-large" %>
              <%= link_to " ", "#", class: "card-link" %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/card-london.jpeg');">
              <div class="card-category">London</div>
              <div class="card-description">
                <h2>Romain's home</h2>
                <p>Nice flat in Piccadilly</p>
              </div>
              <%= image_tag "https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/romain.jpeg", class: "card-user avatar avatar-large" %>
              <%= link_to " ", "#", class: "card-link" %>
            </div>
          </div>
        </div>
      </div>
    </div>
